<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nshopmainmenu">

    <uses-permission android:name='android.permission.WRITE_EXTERNAL_STORAGE' />
    <uses-permission android:name='android.permission.READ_EXTERNAL_STORAGE' />
    <uses-permission android:name='android.permission.CAMERA' />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProductBlackMask"></activity>
        <activity android:name=".ProfilePage"></activity>
        <activity android:name=".ProfileEditor"></activity>
        <activity android:name=".ProductBlueMask"></activity>
        <activity android:name=".ProductPurpleMask"></activity>
        <activity android:name=".AboutUs"></activity>
        <activity android:name=".ContactUs"></activity>
        <activity android:name=".ConfirmOrder"></activity>
        <activity android:name=".ShoppingCart"></activity>
        <activity android:name=".PaymentPage"></activity>
        <activity android:name=".PurchaseHistory"></activity>
        <activity android:name=".SignUp"></activity>
        <activity android:name=".VerificationEmail"></activity>
        <activity android:name=".UserInformation"></activity>
        <activity android:name=".Menu"></activity>
        <activity android:name=".ForgotPassword"></activity>
    </application>

</manifest>